<b><h2>New User</h2></b>

<%= form_for @user do |f| %>
<%=render partial: './errors', locals: {user: @user}  %>
<b> First Name: </b>
<%= f.text_field :first_name %>
<br><br>
<b> Last Name: </b>
<%= f.text_field :last_name %>
<br><br>
<b> Email Address: </b>
<%= f.email_field :email %>
<br><br>
<b> Date of Birth: </b>
<%= f.date_field :dob %>
<br><br>
<b> Password: </b>
<%= f.password_field :password %>
<br><br>
<b> Password Confirmation: </b>
<%= f.password_field :password_confirmation %>
<br><br>
<%= f.submit 'Create User'%>
<%end%>
